body {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    background-color: #000;
    border: 1px solid #fff;
}
